@font-face {
  font-family: twCenMt;
  src: url(resources/TCM_____.TTF);
}

body {
  background: url(resources/Midnight.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.textBox {
  width: 500px;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
  margin: 20px;
  text-align: center;
  margin: auto;
  color: white;
  font-family: twCenMt;
}

.textBox h1 {
  font-size: 30px;
  text-shadow: 0px 0px 3px #f8f8f8;
}

.textBox h5 {
  font-size: 15px;
  text-shadow: 0px 0px 3px #f8f8f8;
}

.wrapper {
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: 2em;
}

.logo {
  display: inline-block;
  width: 250px;
  height: 250px;
  transition: transform 0.2s ease-in-out;
}

.logo img {
  display: inline-block;
  border-radius: 50%;
  width: 100%;
}

.logo:hover,
.logo:active {
  transform: scale(110%);
}

.linkIcon {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
  height: 150px;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.linkIcon img {
  filter: drop-shadow(5px 5px 12px rgba(255,255,255,0.400));
  display: inline-block;
  width: 100%;
}

.linkIcon:hover,
.linkIcon:active {
  filter: drop-shadow(5px 5px 12px rgba(255,255,255,0.800));
  transform: scale(115%);
}
